<div class="contact">
  <div class="container">
    <h1>About</h1>


    <img class="round" src="/images/me.jpeg">


    <h2>Hi</h2>
    <p> I'm Andrei and I'm a web developer/entrepreneur based in Toronto, Canada. I have a passion for building amazing things from scratch and learning from the best. I also love everything Javascript.</p>


<h2>Develop what you want</h2>
    <p> I develop what you need. I'm a developer, so I know how to create your website to run across devices using the latest technologies available.</p>


<div class="col-md-4"><h2><span>Front-End</span></h2>
<ul>
    <li>Javascript</li>
    <li>Angular.js</li>
    <li>Bootsrap</li>
    <li>JQuery</li>
    <li>CSS3</li>
    <li>HTML</li>
    <li>UI/UX Design</li>
</ul>
    </div>
    <div class="col-md-4"><h2><span>Back-End</span></h2>
<ul>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>MongoDB</li>
    <li>Firebase</li>
</ul>
    </div>
    <div class="col-md-4"><h2><span>Learning</span></h2>
<ul>
    <li>React.js</li>
    <li>Meteor.js</li>
</ul>
    </div>

    <div class="col-md-12">

    <h2>I Can Help. </h2>
    <p>I'm currently available for freelance work. Want to build something excitig? Send me a quick message </p>
</div></div>
</div>
</div>

