<div ng-init="initSlider()"class="intro">
  <div class="intro__content">
      <h1 id="Andrei">Andrei Neagoie</h1>
      <h2>Web <span id="developer">Developer</span></h2>
      <span class="flash">
        <span class="skill ">Javascript</span>
        <span class="skill designer">Node.js</span>
        <span class="skill developer">Angular.js</span>
        <span class="skill entrepreneur">Express.js</span>
        <span class="skill speaker">HTML5</span>
        <span class="skill teacher">CSS3</span>
    </span>
  </div>
</div>2

