<div class="contact">
  <h1>See My Work</h1>
</div>

<div id="work" class="container">
  <div class="row browserhint">
    <div class="twelvecol">
      <h3><span>&times;</span> Hover (or tap) for project info <span>&times;</span></h3>
    </div>
  </div>
  <div class="row mobilehint">
    <div class="twelvecol">
      <h3><span>&times;</span> Tap images for more info <span>&times;</span></h3>
    </div>
  </div>

  <div class="row">

    <div class="fourcol">
      <div class="image">
        <img src="/images/me.jpeg" alt="Facebook!" />
        <div class="caption">
          <h3>Currently designing all sorts of fun marketing stuff at Facebook</h3>
          <a ng-href="#/firstWork">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

    <div class="fourcol">
      <div class="image">
        <img src="/images/me.jpeg" alt="Cannes Lions VIP invitation" />
        <div class="caption">
          <h3>Invitation concept for VIP Reception at the Cannes Lions festival</h3>
          <a ng-href="#/firstWork">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="fourcol last">
      <div class="image">
        <img src="/images/me.jpeg" alt="Gerber Life homepage" />
        <div class="caption">
          <h3>New website design for Gerber Life Insurance Company</h3>
          <a ng-href="#/firstWork">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="fourcol">
      <div class="image">
        <img src="/images/me.jpeg" alt="Gerber Life landing page" />
        <div class="caption">
          <h3>Landing page design for the Grow-Up Plan from Gerber Life</h3>
          <a ng-href="#/firstWork">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="fourcol">
      <div class="image">
        <img src="/images/me.jpeg" alt="Albanese Gummies" />
        <div class="caption">
          <h3>Homepage features for Albanese Confectionery, makers of the world's best gummies</h3>
          <a ng-href="#/firstWork">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="fourcol last">
      <div class="image">
        <img src="/images/me.jpeg" alt="Town Hall Talk Radio" />
        <div class="caption">
          <h3>Town Hall Talk Radio print campaign for BlogTalkRadio</h3>
          <a ng-href="#/firstWork">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
