<div class="contact">
  <div class="container">
    <h1>My Work</h1>
  </div>
</div>

<div id="work" class="container">
  <div class="row browserhint">
    <div class="twelvecol">
      <h3><span>&times;</span> Hover (or tap) for project info <span>&times;</span></h3>
    </div>
  </div>
  <div class="row mobilehint">
    <div class="twelvecol">
      <h3><span>&times;</span> Tap images for more info <span>&times;</span></h3>
    </div>
  </div>

  <div class="row">

   <div class="fourcol">
      <div class="image">
        <img src="/images/Newapp.jpg" alt="Adventurists.ca" />
        <div class="caption">
          <h3>Currently building a Data-Driven Web App using Angular.js and Firebase</h3>
          <a target="_blank">Coming Soon...<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

    <div class="fourcol">
      <div class="image">
        <img src="/images/Tu.jpg" alt="Transformationu.co" />
        <div class="caption">
          <h3>Developed TransformationU website with PHP, Wordpress and UI/UX design in mind </h3>
          <a href="http://www.transformationu.co" target="_blank">View Website</a>
        </div>
      </div>
    </div>

    <div class="fourcol">
      <div class="image">
        <img src="/images/andnea.jpg" alt="Adventurists.ca" />
        <div class="caption">
          <h3>Developed website from scratch using Angular.js, Bootstrap, and Javascript</h3>
          <a href="https://github.com/aneagoie/andreineagoie.com" target="_blank">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

     <div class="fourcol">
      <div class="image">
        <img src="/images/Todo.jpg" alt="Adventurists.ca" />
        <div class="caption">
          <h3>Built a To-Do App using Angular.js and Bootstrap with localstorage</h3>
          <a href="https://github.com/aneagoie/ToDoAngular" target="_blank">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

    <div class="fourcol">
      <div class="image">
        <img src="/images/Adventurists1.jpg" alt="Adventurists.ca" />
        <div class="caption">
          <h3>Founder and Project Manager for Adventurists.ca website development</h3>
          <a href="http://www.adventurists.ca" target="_blank">View Website</a>
        </div>
      </div>
    </div>
    <div class="fourcol last">
      <div class="image">
        <img src="/images/Sublime.jpg" alt="Gerber Life homepage" />
        <div class="caption">
          <h3>Scripts for different Construction Patterns in Javascript</h3>
          <a href="https://github.com/aneagoie/DesignPatterns" target="_blank">View on Github<i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <h4>see more of my work on <span><a href="https://github.com/aneagoie/" target="_blank"> -GitHub- </a></span></h4>
</div>
</div>
